
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "roboto", sans-serif; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    color: white;
    background-color: #1F2937;
    padding: 16px;
}

.logo-container {
    margin: 0 16px;
    padding: 0 32px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    gap: 32px;
    margin-right: 100px;
}

ul {
    list-style-type: none;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.left {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 350px;
    flex: 1;
    line-height: 1.5;
}

#welcome {
    color: white;
    background-color: #1F2937;
    padding: 32px 64px;
    display: flex;
    align-items: space-between;
    gap: 10px;
    flex: 1;
    height: 300px;
}

h1 {
    font-size: 36px;
}

.signup {
    background-color: #3882F6;
    color: white;
    padding: 8px 24px;
    border-radius: 8px;
    font-size: medium;
    font-weight: 800;
    border: #3882F6;
    margin-top: 8px;
}

#button {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    border: 2px solid white;
    line-height: 50px;
}

#planets {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    padding: 32px;
}
.planets {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 32px;
}

.description {
    font-style: italic;
    color: gray;
}

.info {
    max-width: 200px;
}

img {
    border:#3882F6;
    border-radius: 16px;
}

#main-photo {
    border-radius: 0;
    height: 200px;
    width: auto;
}

.quote {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 100;
}

blockquote {
    max-width: 600px;
}

.container {
    background-color: #3882F6;
    color: white;
    margin: 100px 200px;
    padding: 48px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;   
}

#signup {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

h3 {
    font-size: 24px;
}

.footer {
    font-size: 18px;
    margin-top: 24px;
}

#footer {
    color: white;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    font-size: 18px;
    margin-top: auto;
}